@charset "utf-8";
body{
	color:#000;
	margin: 0 auto;
	text-align: center;
}

.div_maincontainer{
	height: auto;
	width: 100%;
	margin:0px auto;
	top: 50px;
	float: none;
	clear: both;
	position: relative;
}

.div_contentleft {		
	width: 100%;
	height: auto;
	margin:0px auto;
	padding: 0px 10px;
	box-sizing: border-box;
	position: relative;
	float: right;
}

 h2{
	font:normal 24px  "微软雅黑";
   color:#072885;
   text-align:center;
}
.one{
	font-szie:18px;
    text-align:center;
}
p{
	text-indent:2em;
}
.blue{
	color:#3d6cb0;
}
.gray{
	color:#666;
}
#num{
	color:#3d6cb0;
}
em{ 
	font-style:normal;
}
.two{
	font-family:"楷体_GB2312";
	text-align:center;
}
.four{
	font-weight:bold;
	text-align:center;
}
