<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<servlet>
		<description>GetCaptcha</description>
		<display-name>GetCaptcha</display-name>
		<servlet-name>GetCaptcha</servlet-name>
		<servlet-class>servlet.GetCaptcha</servlet-class>
	</servlet>
	<servlet>
		<description>CheckLogin</description>
		<display-name>CheckLogin</display-name>
		<servlet-name>CheckLogin</servlet-name>
		<servlet-class>servlet.CheckLogin</servlet-class>
	</servlet>
	<servlet>
		<description>CheckRegister</description>
		<display-name>CheckRegister</display-name>
		<servlet-name>CheckRegister</servlet-name>
		<servlet-class>servlet.CheckRegister</servlet-class>
	</servlet>
	<servlet>
		<description>AddUser</description>
		<display-name>AddUser</display-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>servlet.AddUser</servlet-class>
	</servlet>
	<servlet>
		<description>AddTopic</description>
		<display-name>AddTopic</display-name>
		<servlet-name>AddTopic</servlet-name>
		<servlet-class>servlet.AddTopic</servlet-class>
	</servlet>
	<servlet>
		<description>AddNotice</description>
		<display-name>AddNotice</display-name>
		<servlet-name>AddNotice</servlet-name>
		<servlet-class>servlet.AddNotice</servlet-class>
	</servlet>
	<servlet>
		<description>AddPinglun</description>
		<display-name>AddPinglun</display-name>
		<servlet-name>AddPinglun</servlet-name>
		<servlet-class>servlet.AddPinglun</servlet-class>
	</servlet>
	<servlet>
		<description>LoginOut</description>
		<display-name>LoginOut</display-name>
		<servlet-name>LoginOut</servlet-name>
		<servlet-class>servlet.LoginOut</servlet-class>
	</servlet>
	<servlet>
		<description>AddReply</description>
		<display-name>AddReply</display-name>
		<servlet-name>AddReply</servlet-name>
		<servlet-class>servlet.AddReply</servlet-class>
	</servlet>
	<servlet>
		<description>AddReplys</description>
		<display-name>AddReplys</display-name>
		<servlet-name>AddReplys</servlet-name>
		<servlet-class>servlet.AddReplys</servlet-class>
	</servlet>
	<servlet>
		<description>TopTopic</description>
		<display-name>TopTopic</display-name>
		<servlet-name>TopTopic</servlet-name>
		<servlet-class>servlet.TopTopic</servlet-class>
	</servlet>
	<servlet>
		<description>TopTopic</description>
		<display-name>TopTopic</display-name>
		<servlet-name>c</servlet-name>
		<servlet-class>servlet.c</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteTopic</description>
		<display-name>DeleteTopic</display-name>
		<servlet-name>DeleteTopic</servlet-name>
		<servlet-class>servlet.DeleteTopic</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteNotice</description>
		<display-name>DeleteNotice</display-name>
		<servlet-name>DeleteNotice</servlet-name>
		<servlet-class>servlet.DeleteNotice</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteReply</description>
		<display-name>DeleteReply</display-name>
		<servlet-name>DeleteReply</servlet-name>
		<servlet-class>servlet.DeleteReply</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteReplys</description>
		<display-name>DeleteReplys</display-name>
		<servlet-name>DeleteReplys</servlet-name>
		<servlet-class>servlet.DeleteReplys</servlet-class>
	</servlet>
	<servlet>
		<description>CancelTopTopic</description>
		<display-name>CancelTopTopic</display-name>
		<servlet-name>CancelTopTopic</servlet-name>
		<servlet-class>servlet.CancelTopTopic</servlet-class>
	</servlet>
	<servlet>
		<description>ChangeUserMessage</description>
		<display-name>ChangeUserMessage</display-name>
		<servlet-name>ChangeUserMessage</servlet-name>
		<servlet-class>servlet.ChangeUserMessage</servlet-class>
	</servlet>
	<servlet>
		<description>ChangeUserPhoto</description>
		<display-name>ChangeUserPhoto</display-name>
		<servlet-name>ChangeUserPhoto</servlet-name>
		<servlet-class>servlet.ChangeUserPhoto</servlet-class>
	</servlet>
	<servlet>
		<description>ChangeUserPassword</description>
		<display-name>ChangeUserPassword</display-name>
		<servlet-name>ChangeUserPassword</servlet-name>
		<servlet-class>servlet.ChangeUserPassword</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteUser</description>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlet.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<description>AddSession</description>
		<display-name>AddSession</display-name>
		<servlet-name>AddSession</servlet-name>
		<servlet-class>servlet.AddSession</servlet-class>
	</servlet>
	<servlet>
		<description>DeleteSession</description>
		<display-name>DeleteSession</display-name>
		<servlet-name>DeleteSession</servlet-name>
		<servlet-class>servlet.DeleteSession</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetCaptcha</servlet-name>
		<url-pattern>/GetCaptcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/CheckLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckRegister</servlet-name>
		<url-pattern>/CheckRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTopic</servlet-name>
		<url-pattern>/AddTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNotice</servlet-name>
		<url-pattern>/AddNotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPinglun</servlet-name>
		<url-pattern>/AddPinglun</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginOut</servlet-name>
		<url-pattern>/LoginOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddReply</servlet-name>
		<url-pattern>/AddReply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddReplys</servlet-name>
		<url-pattern>/AddReplys</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopTopic</servlet-name>
		<url-pattern>/TopTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTopic</servlet-name>
		<url-pattern>/DeleteTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteNotice</servlet-name>
		<url-pattern>/DeleteNotice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReply</servlet-name>
		<url-pattern>/DeleteReply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReplys</servlet-name>
		<url-pattern>/DeleteReplys</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelTopTopic</servlet-name>
		<url-pattern>/CancelTopTopic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUserMessage</servlet-name>
		<url-pattern>/ChangeUserMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUserPhoto</servlet-name>
		<url-pattern>/ChangeUserPhoto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeUserPassword</servlet-name>
		<url-pattern>/ChangeUserPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSession</servlet-name>
		<url-pattern>/AddSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSession</servlet-name>
		<url-pattern>/DeleteSession</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
